<a class=" menu-item mat-h3" routerLinkActive="menu-active" routerLink="/home">
    Home
  </a>
  <a class="menu-item mat-h3" routerLinkActive="menu-active" routerLink="/job">
    Search Job Listings
  </a>   
  <!--<div class="right-btns-large-screen">
    <button mat-button  routerLink="/login">
      Login
    </button>
    <button mat-stroked-button>
      Register
    </button>
    <button mat-flat-button color="warn">
      Recruiter Site
    </button>
  </div>-->
  <!--<div class="right-btns-small-screen">
  
    <a class="menu-item mat-h3" routerLinkActive="menu-active" routerLink="/login">
      Login
    </a>  
    <a class="menu-item mat-h3" routerLinkActive="menu-active" routerLink="/login">
      Register
    </a>  
    <a class="menu-item mat-h3" routerLinkActive="menu-active" routerLink="/login">
      Recruiter Site
    </a>  
  </div>-->