<div class="">
    <ul class="nav contCentre navBarColour">
        <li class="nav-item">
          <a class="nav-link topnavText" href="#Burger">
            <i class="fas fa-bars"></i>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link topnavText disabled" href="#">MathU Fellows Icon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link topnavText" href="#Filter" >
            <i class="fas fa-filter"></i>
          </a>
        </li>
    </ul>
</div>

<div class="bodyGrid">

</div>




<div class="contBottom">
    <ul class="nav contCentre contBottom navBarColour ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">LeftArrow</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled " href="#">View More</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">RightArrow</a>
        </li>
    </ul>
</div>
